/* RESET BÁSICO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* BODY GLOBAL */
body {
  font-family: var(--font-body);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

/* TIPOGRAFÍA */
h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--color-text);
}

p {
  color: var(--color-muted);
}

/* LINKS */
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* SECCIONES */
section {
  padding: var(--space-page);
}